<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CURSOS</title>
	<link rel="icon" href="../img/Proyecto2.png">
	<!--jQuery-->
	<script src="../lib/jQuery/script.min.js"></script>
	<!--css bootstrap-->
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
	<!--css-->
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/fonts.css">
</head>
<body>
	<header>
		<input type="checkbox" id="btn-menu">
			<label for="btn-menu"><span class="glyphicon glyphicon-th-list"></span></label>
		<nav class="menu">
			<ul>
				<li><a href="../index.html"><span class="glyphicon glyphicon-home">&nbsp;Inicio</span></a></li>
				<li class="seleccion"><a href="cursos.html"><span class="glyphicon glyphicon-book">&nbsp;Cursos</span></a></li>
				<li><a href="horarios.html"><span class="glyphicon glyphicon-time">&nbsp;Horarios</span></a></li>
				<li><a href="proyectos.html"><span class="glyphicon glyphicon-folder-open">&nbsp;Portafolios</span></a></li>
				<li><a href="sucursales.html"><span class="glyphicon glyphicon-map-marker">&nbsp;Sucursales</span></a></li>
				<li><a href="contactanos.html"><span class="glyphicon glyphicon-earphone">&nbsp;Contactanos</span></a></li>
			</ul>
		</nav>
	</header>
	<div class="container-fluid fonu1">
		<br><br><br><br><br><br>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10"><center><img class="responsive" src="../img/tite.png"></center></div>
			<div class="col-md-1"></div>
		</div>
		<br><br>
		<!-- cursos -->
		<div class="row">
			<div class="col">
				<hr class="linu">
				<h1 class="timee2">¿Qué te ofrece Academy Of Leaders?</h1>
				<hr class="linu">
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class=" col">
				<a href="http://www.manualweb.net/java/introduccion-java/"><img src="../img/java.png" class="responsive cursos"></a>
				<p class="texw3">Cursos de Java</p>
			</div>
			<div class="col">
				<a href="https://www.hazunaweb.com/curso-de-html/introduccion-al-html/"><img src="../img/html.png" class="responsive cursos"></a>
				<p class="texw3">Cursos de HTML</p>
			</div>
			<div class="col">
				<a href="https://entrenamiento-python-basico.readthedocs.io/es/latest/leccion1/"><img src="../img/python.png" class="responsive cursos"></a>
				<p class="texw3">Cursos de Python</p>
			</div>
		</div>
		<br><br><br>
		<div class="row">
			<div class=" col">
				<a href="https://ionicframework.com/"><img src="../img/ionic.png" class="responsive cursos"></a>
				<p class="texw3">Cursos de Ionic</p>
			</div>
			<div class="col">
				<a href="https://www.microsoft.com/es-gt"><img src="../img/microsoft.png" class="responsive cursos"></a>
				<p class="texw3">Cursos de Microsoft</p>
			</div>
			<div class="col">
				<a href="http://www.cyta.com.ar/biblioteca/bddoc/bdlibros/mantenimientodepc/pc.pdf"><img src="../img/mantenimiento.png" class="responsive cursos"></a>
				<p class="texw3">Reparación y Mantenimiento PC's</p>
			</div>
		</div>
		<hr class="linu">
		<div class="row">
			<div class="col-md-12">
				<br><br>
				<li class="texw3">Profesores capacitados</li>
				<br>
				<li class="texw3">Reparadores con experiencia</li>
				<br>
				<li class="texw3">Jornada matutina y vespertina</li>
				<br>
				<li class="texw3">Empleados especializados para desarrollo web</li>
				<br>
				<li class="texw3">Clases de lunes a viernes y plan fin de semana</li>
				<br>
				<li class="texw3">Empleados especializados para la creación de programas</li>
				<br>
			</div>
		</div>
		<br>
		<hr class="linu">
		<div class="row">
			<div class="col"><a href="https://www.facebook.com/Academy-Of-Leaders-509105289616986/"><img class="responsive" src="../img/feis.png" height="50px" width="50px"></a></div>
			<div class="col"><a href="https://www.instagram.com/academy.of.leaders/"><img class="responsive" src="../img/insta.png" height="50px" width="50px"></a></div>
			<div class="col"><a href="https://twitter.com/academyofleade1"><img class="responsive" src="../img/twita.png" height="50px" width="50px"></a></div>
			<div class="col"><a href="https://www.youtube.com/channel/UC3dV3AdOZvkkbFYzN84GY0g?view_as=subscriber"><img class="img-responsive" src="../img/yiutu.png" height="50px" width="50px"></a></div>
			<div class="col"><img class="responsive" src="../img/wazaq.png" height="50px" width="50px" title="+502 4826-4856"></div>
			<div class="col"><img class="responsive" src="../img/yimail.png" height="50px" width="50px" title="Academyofleaders.019@gmail.com"></div>
		</div>
		<br>
	</div>
	

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--bootstrap-->
	<script src="../lib/bootstrap/js/bootstrap.js"></script>
	<!--angular-->
	<script src="../lib/angular/angular.js"></script>
	<!--js-->
	<script src="../js/menu.js"></script>
</body>
</html>