<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HORARIOS</title>
	<link rel="icon" href="../img/Proyecto2.png">
	<!--jQuery-->
	<script src="../lib/jQuery/script.min.js"></script>
	<!--css bootstrap-->
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
	<!--css-->
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/fonts.css">
</head>
<body>
	<header>
		<input type="checkbox" id="btn-menu">
			<label for="btn-menu"><span class="glyphicon glyphicon-th-list"></span></label>
		<nav class="menu">
			<ul>
				<li><a href="../index.html"><span class="glyphicon glyphicon-home">&nbsp;Inicio</span></a></li>
				<li><a href="cursos.html"><span class="glyphicon glyphicon-book">&nbsp;Cursos</span></a></li>
				<li class="seleccion"><a href="horarios.html"><span class="glyphicon glyphicon-time">&nbsp;Horarios</span></a></li>
				<li><a href="proyectos.html"><span class="glyphicon glyphicon-folder-open">&nbsp;Portafolios</span></a></li>
				<li><a href="sucursales.html"><span class="glyphicon glyphicon-map-marker">&nbsp;Sucursales</span></a></li>
				<li><a href="contactanos.html"><span class="glyphicon glyphicon-earphone">&nbsp;Contactanos</span></a></li>
			</ul>
		</nav>
	</header>
	<div class="container-fluid fonu1">
		<br><br><br><br><br><br>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10"><center><img class="responsive" src="../img/tite.png"></center></div>
			<div class="col-md-1"></div>
		</div>
	</div>
	<!--PRIMER CONTENEDOR-->
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--bootstrap-->
	<script src="../lib/bootstrap/js/bootstrap.js"></script>
	<!--angular-->
	<script src="../lib/angular/angular.js"></script>
	<!--js-->
	<script src="../js/menu.js"></script>
</body>
</html>