<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PROYECTOS</title>
	<link rel="icon" href="../img/Proyecto2.png">
	<!-- JQuery -->
	<script src="../lib/jQuery/script.min.js"></script>
	<!--CSS Bootstrap-->
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
	<!-- CSS -->
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/fonts.css">
</head>
<body>
	<header>
		<input type="checkbox" id="btn-menu">
			<label for="btn-menu"><span class="glyphicon glyphicon-th-list"></span></label>
		<nav class="menu">
			<ul>
				<li><a href="../index.html"><span class="glyphicon glyphicon-home">&nbsp;Inicio</span></a></li>
				<li><a href="cursos.html"><span class="glyphicon glyphicon-book">&nbsp;Cursos</span></a></li>
				<li><a href="horarios.html"><span class="glyphicon glyphicon-time">&nbsp;Horarios</span></a></li>
				<li class="seleccion"><a href="proyectos.html"><span class="glyphicon glyphicon-folder-open">&nbsp;Portafolios</span></a></li>
				<li><a href="sucursales.html"><span class="glyphicon glyphicon-map-marker">&nbsp;Sucursales</span></a></li>
				<li><a href="contactanos.html"><span class="glyphicon glyphicon-earphone">&nbsp;Contactanos</span></a></li>
			</ul>
		</nav>
	</header>
	<br><br>
	<!-- Menu -->
	<div class="container-fluid fonu1">
		<br><br><br><br><br>
		<div class="row center">
			<div class="col-md-1"></div>
			<div class="col-md-10"><center><img class="responsive" src="../img/tite.png"></center></div>
			<div class="col-md-1"></div>
		</div>
	<!-- PRIMER CONTENEDOR -->
		<br><br>
		<div class="row">
			<div class="col"><h1 class="timee2 responsive">¡Todos los proyectos que ha realizado nuestro personal!</h1></div>
		</div>
		<br>
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<a class="responsive fotos" href="../portfolios/pablo"><img class="bordus responsive fotos" src="../img/p1.jpg"></a>
				<br>
				<div class="blanco center">
					<br>
					<h3 class="center timee2">Pablo Andres Canteo Mendez</h5>
					<li class="cargos">Profesor de Computacion</li>
					<li class="cargos">Encargado de capacitaciones</li>
					<br>
				</div>
			</div>
			<div class="col">
				<a class="responsive fotos" href="../portfolios/pablo"><img class="bordus responsive fotos" src="../img/p2.jpg"></a>
				<br>
				<div class="blanco center">
					<br>
					<h3 class="center timee2">Rolman Alexander Requena Pelicó</h5>
					<li class="cargos">Director General</li>
					<li class="cargos">Profesor de Computacion</li>
					<br>
				</div>
			</div>
			<div class="col">
				<a class="responsive fotos" href="../portfolios/pablo"><img class="bordus responsive fotos" src="../img/p3.jpg"></a>
				<br>
				<div class="blanco center">
					<br>
					<h3 class="center timee2">Pablo Ottoniel Monterroso Hernandez</h5>
					<li class="cargos">Profesor de Computacion</li>
					<li class="cargos">Diseñador Web</li>
					<br>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<br><br><br>
		<div class="row center">
			<div class="col"></div>
			<div class="col">
				<a class="responsive fotos" href="../portfolios/pablo"><img class="bordus responsive fotos" src="../img/p4.jpg"></a>
				<br>
				<div class="blanco center">
					<br>
					<h3 class="center timee2">Dixon Enrique Lemus Santos</h5>
					<li class="cargos">Profesor de Computacion</li>
					<li class="cargos">Diseñador Web</li>
					<br>
				</div>
			</div>
			<div class="col">
				<a class="responsive fotos" href="../portfolios/pablo"><img class="bordus responsive fotos" src="../img/p5.jpg"></a>
				<br>
				<div class="blanco center">
					<br>
					<h3 class="center timee2">Gustavo Adolfo Herrera Ramirez</h5>
					<li class="cargos">Coordinador</li>
					<li class="cargos">Profesor de Computacion</li>
					<br>
				</div>
			</div>
			<div class="col">
				<a class="responsive fotos" href="../portfolios/pablo"><img class="bordus responsive fotos" src="../img/p6.jpg"></a>
				<br>
				<div class="blanco center">
					<br>
					<h3 class="center timee2">Jaquelinne Marleny Lopez Gonzales</h5>
					<li class="cargos">Profesora de Computacion</li>
					<li class="cargos">Soporte tecnico</li>
					<br>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<br><br>
			<br>
			<hr class="linu">
			<div class="row">
				<div class="col">
					<a href="https://www.facebook.com/Academy-Of-Leaders-509105289616986/">
						<img class="responsive" src="../img/feis.png" height="50px" width="50px">
					</a>
				</div>
				<div class="col">
					<a href="https://www.instagram.com/academy.of.leaders/">
						<img class="responsive" src="../img/insta.png" height="50px" width="50px">
					</a>
				</div>
				<div class="col">
					<a href="https://twitter.com/academyofleade1">
						<img class="responsive" src="../img/twita.png" height="50px" width="50px">
					</a>
				</div>
				<div class="col">
					<a href="https://www.youtube.com/channel/UC3dV3AdOZvkkbFYzN84GY0g?view_as=subscriber">
						<img class="img-responsive" src="../img/yiutu.png" height="50px" width="50px">
					</a>
				</div>
				<div class="col">
					<img class="responsive" src="../img/wazaq.png" height="50px" width="50px" title="+502 4826-4856">
				</div>
				<div class="col">
					<img class="responsive" src="../img/yimail.png" height="50px" width="50px" title="Academyofleaders.019@gmail.com">
				</div>
			</div>
			<br>
		</div>
	

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Bootstrap -->
	<script src="../lib/bootstrap/js/bootstrap.js"></script>
	<!-- Angular -->
	<script src="../lib/angular/angular.js"></script>
</body>
</html>