<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SUCURSALES</title>
	<link rel="icon" href="../img/Proyecto2.png">
	<!--jQuery-->
	<script src="../lib/jQuery/script.min.js"></script>
	<!--css bootstrap-->
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
	<!--css-->
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/fonts.css">
</head>
<body>
	<!--barra de opciones-->
	<header>
		<input type="checkbox" id="btn-menu">
			<label for="btn-menu"><span class="glyphicon glyphicon-th-list"></span></label>
		<nav class="menu">
			<ul>
				<li><a href="../index.html"><span class="glyphicon glyphicon-home">&nbsp;Inicio</span></a></li>
				<li><a href="cursos.html"><span class="glyphicon glyphicon-book">&nbsp;Cursos</span></a></li>
				<li><a href="horarios.html"><span class="glyphicon glyphicon-time">&nbsp;Horarios</span></a></li>
				<li><a href="proyectos.html"><span class="glyphicon glyphicon-folder-open">&nbsp;Portafolios</span></a></li>
				<li class="seleccion"><a href="sucursales.html"><span class="glyphicon glyphicon-map-marker">&nbsp;Sucursales</span></a></li>
				<li><a href="contactanos.html"><span class="glyphicon glyphicon-earphone">&nbsp;Contactanos</span></a></li>
			</ul>
		</nav>
	</header>
	<br><br>
	<div class="container-fluid fonu1">
		<br><br>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10"><center><img class="responsive" src="../img/tite.png"></center></div>
			<div class="col-md-1"></div>
		</div>
	<!--PRIMER CONTENEDOR-->
		<br>
		<br>
		<div class="row">
			<div class="col"><a href="https://goo.gl/maps/Ae7sjnPxFFVpE9Vw9"><img class="responsive" src="../img/paises/canad.png" height="400" width="400"><h2 class="tw">CANADÁ</h2></a></div>
			<div class="col"><a href="https://goo.gl/maps/nRv4aRPuJprVcVrY6"><img class="responsive" src="../img/paises/Chile.png" height="400" width="400"><h2 class="tw">CHILE</h2></a></div>
			<div class="col"><a href="https://goo.gl/maps/pkVVEhcQWEqLnE278"><img class="responsive" src="../img/paises/cr.png" height="400" width="400"><h2 class="tw">COSTA RICA</h2></a></div>
			<div class="col"><a href="https://goo.gl/maps/DNEeDJggk3zCvVFy8"><img class="responsive" src="../img/paises/gt.png" height="400" width="400"><h2 class="tw">GUATEMALA</h2></a></div>
			<div class="col"><a href="https://goo.gl/maps/X4f5Y79e7uW7sMbf8"><img class="responsive" src="../img/paises/jp.png" height="400" width="400"><h2 class="tw">JAPÓN</h2></a></div>
		</div>
		<br>
		<hr class="linu">
		<br>
		<div class="row">
				<div class="col"><a href="https://www.facebook.com/Academy-Of-Leaders-509105289616986/"><img class="responsive" src="../img/feis.png" height="50px" width="50px"></a></div>
				<div class="col"><a href="https://www.instagram.com/academy.of.leaders/"><img class="responsive" src="../img/insta.png" height="50px" width="50px"></a></div>
				<div class="col"><a href="https://twitter.com/academyofleade1"><img class="responsive" src="../img/twita.png" height="50px" width="50px"></a></div>
				<div class="col"><a href="https://www.youtube.com/channel/UC3dV3AdOZvkkbFYzN84GY0g?view_as=subscriber"><img class="img-responsive" src="../img/yiutu.png" height="50px" width="50px"></a></div>
				<div class="col"><img class="responsive" src="../img/wazaq.png" height="50px" width="50px" title="+502 4826-4856"></div>
				<div class="col"><img class="responsive" src="../img/yimail.png" height="50px" width="50px" title="Academyofleaders.019@gmail.com"></div>
			</div>
			<br>
		</div>
	

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--bootstrap-->
	<script src="../lib/bootstrap/js/bootstrap.js"></script>
	<!--angular-->
	<script src="../lib/angular/angular.js"></script>
</body>
</html>